<!-- Sidebar -->
<div id="sidebar">
  <div class="inner">

    <!-- Menu -->
    <a href="index">
      <section id="banner">
        <img class="nav-image" src="images/logo.png" alt="" />
      </section>
    </a>
    <nav id="menu">
      <header class="major">
        <h2>Menu</h2>
      </header>
      <ul>
        <li><a href="gallery">Gallery</a></li>
        <li>
          <span class="opener">History</span>
          <ul>
            <li><a href="history">Main History</a></li>
            <li><a href="history#austin-history">Austin</a></li>
            <li><a href="history#bv-history">Bazaarvoice</a></li>                        
          </ul>
        </li>
        <!-- Uncomment below for BIO in nav -->
        <!-- <li>
          <span class="opener">Bio</span>
          <ul>
            <% Object.keys(bio_info_map).forEach(person => { %>
              <article class="thumb">
                <a href="bio-<%=person%>"><li><%=person%></li></a>
              </article>
            <% }) %>
          </ul>
        </li> -->
        <li><a href="faq">FAQ</a></li>
        <li><a href="training">Training</a></li>
      </ul>
    </nav>

    <!-- Section -->
    <section>
      <header class="major">
        <h3>Upcoming</h3>
      </header>
      <div class="mini-posts">
        <article>
          <h4>Practice #1</h4>
          <p class="practice">Where: <a href="https://goo.gl/maps/W2ierJsjcxw">Waller Creek Boathouse</a></p><br/>
          <p>
            When: April 1
              <ul class="practice">
                <li>
                  Easy: 9:30am <a href="https://www.facebook.com/events/196359140850688/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                </li>
                <li>
                  Insane: 10:30am <a href="https://www.facebook.com/events/1276574682425260/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                </li>
              </ul>
          </p>
          <br/>
        </article>
        <article>
          <h4>Practice #2</h4>
          <p class="practice">Where: <a href="https://goo.gl/maps/W2ierJsjcxw">Waller Creek Boathouse</a></p><br/>
          <p>
            When: April 8
              <ul class="practice">
                <li>
                  Easy: 9:30am <a href="https://www.facebook.com/events/741269762720160/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                </li>
                <li>
                  Insane: 10:30am <a href="https://www.facebook.com/events/405016399863816/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                </li>
              </ul>
          </p>
          <br/>
        </article>
        <article>
          <h4>Practice #3</h4>
          <p class="practice">Where: <a href="https://goo.gl/maps/W2ierJsjcxw">Waller Creek Boathouse</a></p><br/>
          <p>
            When: April 15
              <ul class="practice">
                <li>
                  Easy: 9:30am <a href="https://www.facebook.com/events/1075379819234894/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                </li>
                <li>
                  Insane: 10:30am <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                </li>
              </ul>
          </p>
          <br/>
        </article>
        <article>
          <h4>Practice #4</h4>
          <p class="practice">Where: <a href="https://goo.gl/maps/W2ierJsjcxw">Waller Creek Boathouse</a></p><br/>
          <p>
            When: April 22
              <ul class="practice">
                <li>
                  Easy: 9:30am <a href="https://www.facebook.com/events/1872740209635588/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                </li>
                <li>
                  Insane: 10:30am <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                </li>
              </ul>
          </p>
          <br/>
        </article>
        <article>
          <!-- <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a> -->
          <h4>Race</h4>
          <p class="practice">When: April 29 @ 8:00am <a href="https://www.facebook.com/events/366260257091217/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> </p><br/>
          <p>Where: <a href="https://goo.gl/maps/BS4uKLENvJ52">Festival Beach</a></p><br/>
        </article>
      </div>
    </section>