<% include ../partials/header.ejs %>

<!-- Content -->
<section>
	<header class="main">
		<h1>F.A.Q.</h1>
	</header>

	<!-- Content -->
	<h3>What is Dragon Boat?</h3>
	<p>
		Dragon Boat is a global sport with a <a href="https://en.wikipedia.org/wiki/Dragon_boat#History">2500 year history</a>. A steersman pilots a boat powered by 20 paddlers who are kept in sync by a drummer at the bow. Synchronization is the most critical skill to develop for a new team, followed by proper technique and then finally strength.
	</p>
	<h3>How long is the race?</h3>
	<p>
		A race is 500 meters long, and is usually completed in fewer than 3 minutes.
	</p>
	<h3>When is the race?</h3>
	<p>
		The Bazaarvoice dragon boat team will be racing on April 29th (9am – 3pm)
	</p>
	<h3>Practices</h3>
	<p>
		<ul>
			<li>We’ll get 4 one-hour practice slots to get everyone up to speed on the sport and train.</li>
			<li>They will held on weekends from April 1st to April 23rd. Check the 'Upcoming' section on the left for times and link to Facebook event page.</li>
			<li>Location: <a href="https://www.google.com/maps/place/Austin+Rowing+Club/@30.2605672,-97.7417732,15z/data=!4m2!3m1!1s0x0:0xee5307e1cabe580?sa=X&ved=0ahUKEwiUwLvvyqrSAhVr74MKHcZxAcMQ_BIIfjAK">  Austin Rowing Club’s Waller Creek Boathouse </a></li>
			<li>In an hour long practice, we may ask you to <strong>paddle for 5ish minutes at a time</strong>, but a majority of practice will be drills less than 2 minutes long.
				Effective paddlers will get a <strong>good core workout</strong>, but large <strong>back and shoulder muscles</strong> are also used.</li>
		</ul>
	</p>
	<h3>Commands</h3>
	<a name="commands"></a>
		<ul>
			<li><strong>“Kiss the boat!”</strong> / <strong>“Hips to the gunnel!”</strong> - Slide as far away from your partner as possible, bracing your outside leg against the ridge in front of you and touching most of the outside of your hip to the wall of the boat. We can see an aisle between all the paddlers in this photo: <span><img class= "t-shirt-img" src="https://kdtraining.files.wordpress.com/2010/09/singapore-boat-team-001-dragon-boat-1-sw1.jpg" alt=""/></span></li>
			<li><strong>“Back paddle!”</strong> - Use your paddle to push water in front of you to move the boat backwards.</li>
			<li><strong>“Don’t use your paddle to push off”</strong> / <strong>“hold onto the dock!”</strong> - Don’t use your paddle to push off or hold onto the dock.</li>
			<li><mark class="mark-colour"><strong>“Attention please!”</strong> / <strong>“Get in your A-Frames!”</strong> - Get into the A-Frame position and get ready to paddle.</mark> 
			<br/>Example: <span><img class= "t-shirt-img" src="http://www.stratforddragonboat.com/a_frame2.JPG" alt=""/></span></li>
			<li><mark class="mark-colour"><strong>“Ready!”</strong> - Put your paddles in the water, prepare for a “wet start.”</li>
			<li><strong>“GO!”</strong> - Begin paddling forward</li></mark>
			<li><strong>“Let it ride!”</strong> - Take your paddles out of the water so we can sail and marvel at how fast and far the boat is going to move off of our momentum</li>
			<li><strong>“Hold water!”</strong> - Stick your paddle into the water to create as much resistance as possible so we can stop as soon as possible</li>
		</ul>
	

</section>

</div>
</div>
<% include ../partials/nav.ejs %>	
<% include ../partials/footer.ejs %>