<% include ../partials/header.ejs %>

<!-- Content -->
<section>
	<header class="main">
		<a name="history"></a>
		<h1>Dragonboat History</h1>
	</header>

	<!-- <span class="image main"><img src="images/pic11.jpg" alt="" /></span> -->

	<p>Dragon Boat is a global sport with a very rich history and legends attached to it. Some say that it's 2500 year old sport. You can read the <a href="https://en.wikipedia.org/wiki/Dragon_boat#History">Wikipedia</a> page for more info.</p>
	<p>A typical dragon boat seats 20 paddlers, along with a steers person and a drummer. The sport promotes a great sense of teamwork, requiring all 20 paddlers to move in unison to carve the fastest path through the water.</p>
</section>

<section>
	<header class="main">
		<a name="austin-history"></a>
		<h1>Austin Dragonboat History</h1>
	</header>

	<p>Austin has their very own Dragon Boat team. They are called <a href="http://www.austincoolers.com/">Austin Coolers</a>. They formed a team in 2008 and have been racing since. Big thanks to them for helping us out by lending us their steers person and coache on our practices.

</section>

<section>
	<header class="main">
		<a name="bv-history"></a>
		<h1>Bazaarvoice Dragonboat History</h1>
	</header>

	<h2>2015</h2>
	<p>Our very own Drew C. spearheaded the BVDB when he joined Bazaarvoice. During his introduction to BV he Gene why we didn't have a DB team. Gene asked him to start a team and Drew made it happen.</p><br/>
	<p>Our 2 boats were: Authenticity and Insight </p><br/>
	<p>We did win our division that year.</p><br/>
	<hr class="major" />

	<h2>2016</h2>
	<p>Once again, there was a lot of interest in 2016 for Dragonboat and we, once again, had 2 boats racing.</p><br/>
	<p>Our 2 boats were: Dragonslayer and Khaleesi</p><br/>

</section>

</div>
</div>

<% include ../partials/nav.ejs %>
<% include ../partials/footer.ejs %>