<% include ../partials/header.ejs %>

<!-- Content -->
<section>
	<header class="main">
		<a name="history"></a>
		<h1>Dragonboat History</h1>
	</header>

	<!-- <span class="image main"><img src="images/pic11.jpg" alt="" /></span> -->

	<p>Dragon Boat is a global sport with a very rich history and legends attached to it. Some say that it's 2500 year old sport. You can read the <a href="https://en.wikipedia.org/wiki/Dragon_boat#History">Wikipedia</a> page for more info.</p>
	<p>A typical dragon boat seats 20 paddlers, along with a steers person and a drummer. The sport promotes a great sense of teamwork, requiring all 20 paddlers to move in unison to carve the fastest path through the water.</p>
</section>

<section>
	<header class="main">
		<a name="austin-history"></a>
		<h1>Austin Dragonboat History</h1>
	</header>

	<p>Austin has their very own Dragon Boat team. They are called <a href="http://www.austincoolers.com/">Austin Coolers</a>. They formed a team in 2008 and have been racing since. Big thanks to them for helping us out by lending us their steers person and coache on our practices.

</section>

<section>
	<header class="main">
		<a name="bv-history"></a>
		<h1>Bazaarvoice Dragonboat History</h1>
	</header>

	<h2>2015</h2>
	<p>Our very own Drew C. spearheaded the BVDB when he joined Bazaarvoice. He asked Gene why BV didn't have a DB team <Insert pic here>. Gene asked him to start a team and Drew made it happen.</p><br>
	<p>We started with 2 boats: Authenticity and _____ </p><br/>
	<p>We did win our division that year.</p><br/>
	<hr class="major" />

	<h2>2016</h2>
	<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>

</section>

</div>
</div>

<% include ../partials/nav.ejs %>
<% include ../partials/footer.ejs %>