<% include ../partials/header.ejs %>

<!-- Content -->
<section>
	<header class="main">
		<h1>Training</h1>
	</header>

	<!-- Content -->
	<h3>What is an 'A' frame?</h3>
	<p>
		stuff
	</p>	

	<h3>Starting sequence</h3>
	<p>
		stuff
	</p>

	<h3>Tempo</h3>
	<p>
		stuff
	</p>
</section>

</div>
</div>
<% include ../partials/nav.ejs %>	
<% include ../partials/footer.ejs %>